@{  var imagePath= "";
    if(Request["photoChoice"] != null)
    {
        imagePath = @"/Images/" + Request["photoChoice"];
    }
}
<!DOCTYPE html>
<html>
<head>
  <title>Display Image on the Fly</title>
</head>
<body>
<h1>Displaying an Image On the Fly</h1>
<form method="post" action="">
    <div>
        I want to see:
        <select name="photoChoice">
            @{
                DirectoryInfo di = new DirectoryInfo(Server.MapPath("~/Images"));
                FileInfo[] files = di.GetFiles("*.jpg");
                foreach(FileInfo fi in files)
                {
                    if (!Request["photoChoice"].IsEmpty() && @fi.Name == Request["photoChoice"])
                    {
                        <option value="@fi.Name" selected="selected">@fi.Name</option>
                    }
                    else
                    {
                        <option value="@fi.Name">@fi.Name</option>    
                    }
                }
            }
        </select>
        &nbsp;
        <input type="submit" value="Submit" />
    </div>

    <div style="padding:10px;">
        @if(imagePath != ""){
            <img src="@imagePath" alt="Sample Image" width="600px" />
        }
    </div>
</form>
</body>
</html>